#http://www.alberton.info/zend_framework_mod_rewrite_shared_hosting.html

RewriteEngine On
 
RewriteRule ^\.htaccess$ - [F]
 
RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /web/app.php [NC,L]
 
RewriteCond %{REQUEST_URI} !web/.*$
RewriteRule ^(.*)$ web/$1
 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]
 
RewriteRule web/.*$ /web/app.php [NC,L]